html {
  font-family: 'Cutive Mono', monospace;
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headsup {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  padding: 15px;
}

#headsup p {
  text-align: right;
}

#viewport {
  background-image: url("../images/water0.png");
  width: 60%;
  height: 256px;
  position: relative;
  overflow-x: auto;
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  background-image: url("../images/port.png");
  width: 64px;
  height: 32px;
}

#ship {
  background-image: url("../images/ship.png");
  width: 128px;
  height: 64px;
  position: absolute;
}

#sailbutton {
  display: block;
  width: 640px;
  height: 32px;
  background-color: red;
  color: white;
  font-size: 120%;
  font-weight: 700;
  cursor: pointer;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#message {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 2;
  background-color: white;
  text-align: center;
  animation: fade 2s;
}