html {
  background-color: black;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewport {
  background-image: url("../images/water0.png");
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
}

#ports {
  width: 0px;
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  background-image: url("../images/port.png");
  width: 64px;
  height: 32px;
}

#ship {
  background-image: url("../images/ship.png");
  width: 128px;
  height: 64px;
  position: absolute;
}
